.App {
  text-align: left;
  margin-left: 2em;
  line-height: 18px;
  min-width: 60em;
}

.App-logo {
  display: hidden;
  animation: App-logo-spin infinite 20s linear;
  height: 0px;
}

.App-header {
  display: hidden;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  display: hidden;
  font-size: large;
}

.Simulations {
  margin-top:5ex;
}

.RunSimulations {
  width:18em;
}

.Round1 {
  margin-top: 5ex;
  margin-bottom: -5ex;
}

.Round2 {
  margin-left: 16em;
  margin-top: -49ex;
  margin-bottom: 56ex;
}

.Round3 {
  margin-left: 28em;
  margin-top: -97ex;
  margin-bottom: 117ex;
}

.Round4 {
  margin-left: 40em;
  margin-top: -137ex;
}

.Round5 {
  margin-top: 5ex;
  margin-bottom: -5ex;
}

.Round6 {
  margin-left: 12em;
  margin-top: -10ex;
}

.Winner {
  margin-left: 24em;
  margin-top: -5ex;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
