.App {
  text-align: left;
  margin-left: 2em;
  line-height: 18px;
}

.App-logo {
  display: hidden;
  animation: App-logo-spin infinite 20s linear;
  height: 0px;
}

.App-header {
  display: hidden;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  display: hidden;
  font-size: large;
}

.Simulations {
  margin-top:100ex;
}

.RunSimulations {
  width:18em;
}

.Round1 {
  margin-top: 5ex;
  margin-bottom: -5ex;
}

.Round2 {
  margin-left: 18em;
  margin-top: -205ex;
  margin-bottom: 211.5ex;
}

.Round3 {
  margin-left: 34em;
  margin-top: -408ex;
  margin-bottom: 427.5ex;
}

.Round4 {
  margin-left: 50em;
  margin-top: -603ex;
  margin-bottom: 648.5ex;
}

.Round5 {
  margin-left: 64em;
  margin-top: -785ex;
  margin-bottom: 880ex;
}

.Round6 {
  margin-left: 74em;
  margin-top: -930ex;
}

.Winner {
  margin-left: 94em;
  margin-top: -5ex;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
